body{
    border: none;
    margin:0;
    padding: 0;
    position: relative;
    opacity: 0;
    transition: 3s;
}
#all{
    position: absolute;
    top: 100px;
    left: 200px;
}
.page{
    width: 100%;
    height:770px;
    background-size:cover;
    background-repeat:no-repeat;
}
#page1{
    background-image:url("img/bck.jpg");
}
#page2{
    background-image:url("img/bck.jpg");
}

/*跳转按钮*/
#scroll{
    position: fixed;
    top:300px;
    left: 1430px;
    width:100px;
    height: 200px;
}
.jump{
    width: 50px;
    height: 50px;
    background-color: #fffdcb;
    border-radius:50%;
    position: absolute;
    opacity: 0.3;
    transition: 1s;
}
.jump:hover{
    cursor: pointer;
    opacity: 0.7;
}
.jump:nth-child(1){
    left:25%;
    top:25px;
}
.jump:nth-child(2){
    left:25%;
    top:125px;
}
/*左半部分*/
#stage{
    position: absolute;
    top: 200px;
    width: 55%;
    height: 500px;
    border: 1px solid black;
}
#intro{
    top:20px;
    position: absolute;
    font-size: 50px;
}

/*右上角*/
#deck{
    position: absolute;
    top: 10px;
    left:1300px;
}
.link{
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    color: black;
    opacity: 0.5;
    transition: 0.5s;
}
.link:hover{
    cursor: pointer;
    opacity: 1;
}
#logos{
    position: absolute;
    top: 60px;
    left: 13px;
}
.logo{
    display: inline-block;
    margin-left: 20px;
    width: 32px;
    height:32px;
    border: 1px solid black;
    border-radius: 50%;
    opacity: 0.7;
    transition:0.5s;
}
.logo:nth-child(1){
    background-image: url("img/2.png");
}
.logo:hover{
    opacity: 1;
    cursor: pointer;
}


#mouse{
    position: absolute;
    top: 0;
    left:0;
    width: 5px;
    height:5px;
    border: 1px dotted yellow;
    border-radius: 50%;
}

@keyframes mouseVib {
    0%{transform: scale(1);opacity:1}
    100%{transform: scale(15);opacity: 0;}
}